In [ ]:
import pyodbc 
import mysql.connector as sqlcon 
import pandas as pd
from datetime import datetime as dt, timedelta
#from sqlalchemy import create_engine 
from dateutil.relativedelta import relativedelta 
import numpy as np

In [ ]:
server = 'tcp:performancemlsvr.database.windows.net'
database = 'Sentiments'
username = 'performancemluser'
password = 'Pa$$w0rd'
driver = '{ODBC Driver 17 for SQL Server}'

In [3]:
import git

In [2]:
import hmac
import hashlib

In [2]:
mydb = sqlcon.connect(
    host="localhost",
    user="root",
    passwd="phanmium",
    database="twitterdb"
    )

In [3]:
term="mondaymotivation"

In [118]:
df = pd.read_sql("SELECT * FROM sentiment WHERE term LIKE %s ORDER BY date DESC LIMIT 500", mydb,
                         params=('%' + term + '%',))

In [70]:
mycursor = mydb.cursor()

In [142]:
mydb.close()

In [5]:
df.isnull().sum()

date         0
term         0
tweet        0
sentiment    0
dtype: int64

In [141]:
df.sample(5)

,date,term,tweet,sentiment,index_date
434,2019-10-21 16:04:00,MondayMotivation,RT @nnedv: What inspires you to get up in the ...,0.7555,2019-10-21 16:04:00
342,2019-10-21 16:04:26,MondayMotivation,RT @VibesFM973: #052Traffic Show Is Up W/ @Fai...,0.4824,2019-10-21 16:04:26
200,2019-10-21 16:05:02,MondayMotivation,Are you leaving money on the table? The art of...,0.0000,2019-10-21 16:05:02
270,2019-10-21 16:04:42,MondayMotivation,RT @MonChatEstRoi: Pour un bon #MondayMotivati...,0.0000,2019-10-21 16:04:42
80,2019-10-21 16:05:26,MondayMotivation,Paddle Boat Steering stopped working in middle...,-0.2263,2019-10-21 16:05:26

In [120]:
df["index_date"] = df["date"]

In [105]:
df.shape

(500, 4)

In [35]:
df.term.unique()[0]

'MondayMotivation'

In [65]:
df['date'].max().to_pydatetime()

In [20]:
dt(2019, df['date'].max().to_pydatetime().month, 1)

datetime.datetime(2019, 10, 1, 0, 0)

In [63]:
max_d = df['date'].max().to_pydatetime() 
min_d = df['date'].min().to_pydatetime() 
diff_d = max_d - min_d 
diff_d = diff_d.total_seconds() 
hours = diff_d//3600 
days = hours//24
weeks = days//7 
months = weeks//4 
years = months//12

In [94]:
years

0.0

In [82]:
diff_d/3600

0.03666666666666667

In [ ]:
if (diff_d.total_seconds()//3600) >1:

In [35]:
df.dropna(subset=['sentiment'], inplace=True)

In [49]:
df.shape

(38, 2)

In [46]:
df.set_index('date', inplace=True)

In [95]:
df = df.resample('5min').mean()

In [63]:
df['date'].min().month

10

In [65]:
c=df['date'].max()

In [98]:
df['date'].max().year

2019

In [90]:
def format_df(df):
    df.sort_values('date', inplace=True)
    df.set_index('date', inplace=True)
    df = df.resample('5min').mean()
    df.dropna(subset=['sentiment'], inplace=True)
    #return df

In [132]:
def format_d(df):
    df.sort_values('date', inplace=True)
    max_d = df['date'].max().to_pydatetime()
    min_d = df['date'].min().to_pydatetime()
    diff_d = max_d - min_d
    diff_d = diff_d.total_seconds()
    hours = diff_d // 3600
    days = hours // 24
    weeks = days // 7
    months = weeks // 4
    years = months // 12
    print('diff_d is {}, '.format(diff_d))
    if (diff_d <600):
        df = df.resample('30S', on='index_date').mean()
    elif (diff_d > 600 and diff_d <= 3600):
        df = df.resample('1min', on='index_date').mean()
    elif (hours > 1 and hours <= 12):
        df = df.resample('30min', on='index_date').mean()
    elif (hours > 12 and hours <= 24):
        df = df.resample('60min', on='index_date').mean()
    elif (days > 1 and days <= 7):
        df = df.resample('8H', on='index_date').mean()
    elif (days > 7 and days <= 31):
        df = df.resample('1D', on='index_date').mean()
    elif (months > 1 and months <= 8):
        df = df.resample('1W', on='index_date').mean()
    elif (months > 8 and months <= 24):
        df = df.resample('1M', on='index_date').mean()
    elif (years > 2 and years <= 10):
        df = df.resample('1Q', on='index_date').mean()
    elif (years > 20):
        df = df.resample('1Y', on='index_date').mean()
    df['date']=df.index.values
    return df

In [133]:
plot_df = format_d(df)

diff_d is 132.0,

In [137]:
plot_df['date'].max().year

2019

In [140]:
plot_df

                     sentiment                date
index_date
2019-10-21 16:03:30   0.123834 2019-10-21 16:03:30
2019-10-21 16:04:00   0.174247 2019-10-21 16:04:00
2019-10-21 16:04:30   0.198641 2019-10-21 16:04:30
2019-10-21 16:05:00   0.221519 2019-10-21 16:05:00
2019-10-21 16:05:30   0.149365 2019-10-21 16:05:30

In [135]:
plot_df.dtypes

sentiment           float64
date         datetime64[ns]
dtype: object

In [85]:
df

,term,tweet,sentiment
date,,,
2019-10-15 12:06:48,NationalBoyfriendDay,RT @snowberry_Kook: Jungkook is the only sweet...,0.7845
2019-10-15 12:09:40,NationalBoyfriendDay,RT @The_Ronkee: #NationalBoyfriendDay my Love...,0.5267
2019-10-15 12:09:42,NationalBoyfriendDay,RT @duhhcarrots: Did you just said #NationalBo...,0.0000
2019-10-15 12:10:50,NationalBoyfriendDay,RT @snowberry_Kook: Jungkook is the only sweet...,0.7845
2019-10-15 12:12:59,NationalBoyfriendDay,RT @brycevibes: happy #NationalBoyfriendDay [?...,0.8442
2019-10-15 12:22:05,NationalBoyfriendDay,Throwback Thursday \n#NationalBoyfriendDay #Th...,0.0000
2019-10-15 12:25:29,NationalBoyfriendDay,RT @lowqualityloey: happy #NationalBoyfriendDa...,0.5719
2019-10-15 12:34:15,NationalBoyfriendDay,RT @brycevibes: happy #NationalBoyfriendDay [?...,0.8442
2019-10-15 12:46:08,NationalBoyfriendDay,RT @marknqwon: Car ride shenanigans with my fi...,0.0000
2019-10-15 13:00:47,NationalBoyfriendDay,RT @picsjungwoo: #NationalBoyfriendDay exactly...,0.0000
2019-10-15 13:17:23,NationalBoyfriendDay,RT @yajahiratiller: in honor of #NationalBoyfr...,0.4939
2019-10-15 13:18:14,NationalBoyfriendDay,RT @dopekryss: #NationalBoyfriendDay @MisterCl...,0.0000
2019-10-15 13:26:00,NationalBoyfriendDay,RT @rubinstagram: #NationalBoyfriendDay https...,0.0000
2019-10-15 13:28:04,NationalBoyfriendDay,RT @rubinstagram: #NationalBoyfriendDay https...,0.0000
2019-10-15 13:37:44,NationalBoyfriendDay,RT @mommy_elzar: Sweet :) https://t.co/EJl2vBzoVC,0.7184
2019-10-15 13:40:33,NationalBoyfriendDay,"RT @Meiluv17: If I have Pluem as BF, maybe I'l...",0.9134
2019-10-15 13:42:31,NationalBoyfriendDay,"RT @walkingbisexual: one person, a thousand fe...",0.0000
2019-10-15 13:42:34,NationalBoyfriendDay,RT @brycevibes: happy #NationalBoyfriendDay [?...,0.8442
2019-10-15 13:46:47,NationalBoyfriendDay,RT @ModebolaOlaniyi: To y'all celebrating #Nat...,0.5719
2019-10-15 13:52:37,NationalBoyfriendDay,RT @visualsjaehyun: so it's jaehyun day? #Nati...,0.0000
2019-10-15 14:00:08,NationalBoyfriendDay,Apple iPhone 11- 64GB All Colors - GSM &amp; C...,0.0000
2019-10-15 14:00:08,NationalBoyfriendDay,Apple iPhone 11- 64GB All Colors - GSM &amp; C...,0.0000
2019-10-15 14:04:10,NationalBoyfriendDay,RT @Rebouwu: #NationalBoyfriendDay \nI flippin...,0.6697
2019-10-15 14:04:10,NationalBoyfriendDay,RT @Rebouwu: #NationalBoyfriendDay \nI flippin...,0.6697
2019-10-15 14:04:11,NationalBoyfriendDay,RT @BEDRYE4: Birlik olduk cumhutiyetimizi kurd...,0.0000
2019-10-15 14:04:11,NationalBoyfriendDay,RT @BEDRYE4: Birlik olduk cumhutiyetimizi kurd...,0.0000
2019-10-15 14:04:36,NationalBoyfriendDay,RT @MikaTheCurl: Getting a nice deep fuck afte...,0.2023
2019-10-15 14:04:36,NationalBoyfriendDay,RT @MikaTheCurl: Getting a nice deep fuck afte...,0.2023
2019-10-15 14:07:18,NationalBoyfriendDay,"Send a drop of kindness,\nAnd see a happy face...",0.7650
2019-10-15 14:07:38,NationalBoyfriendDay,Ricas tetas,0.0000

In [2]:
dat='2019-10-09T14:07:38'

In [4]:
dte = datetime.strptime(dat, "%Y-%m-%dT%H:%M:%S")

In [7]:
dte.date()

datetime.date(2019, 10, 9)

In [8]:
dat.split("T")

['2019-10-09', '14:07:38']

In [9]:
f='2019-10-09'

In [11]:
d=f.split("T")[0]

In [12]:
d

'2019-10-09'

In [111]:
df.head(10)

,date,term,tweet,sentiment,ase,newdate
0,2019-10-15 14:07:38,SexForGrades,Ricas tetas,250.00,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
1,2019-10-15 14:07:18,SexForGrades,"Send a drop of kindness,\nAnd see a happy face...",382.50,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
2,2019-10-15 14:04:36,SexForGrades,RT @MikaTheCurl: Getting a nice deep fuck afte...,101.15,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
3,2019-10-15 14:04:36,SexForGrades,RT @MikaTheCurl: Getting a nice deep fuck afte...,101.15,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
4,2019-10-15 14:04:11,SexForGrades,RT @BEDRYE4: Birlik olduk cumhutiyetimizi kurd...,250.00,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
5,2019-10-15 14:04:11,SexForGrades,RT @BEDRYE4: Birlik olduk cumhutiyetimizi kurd...,250.00,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
6,2019-10-15 14:04:10,SexForGrades,RT @Rebouwu: #NationalBoyfriendDay \nI flippin...,334.85,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
7,2019-10-15 14:04:10,SexForGrades,RT @Rebouwu: #NationalBoyfriendDay \nI flippin...,334.85,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
8,2019-10-15 14:00:08,SexForGrades,Apple iPhone 11- 64GB All Colors - GSM &amp; C...,250.00,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669
9,2019-10-15 14:00:08,SexForGrades,Apple iPhone 11- 64GB All Colors - GSM &amp; C...,250.00,2019-11-18 12:25:33.366669,2019-11-18 12:25:33.366669